{% extends "base.html" %}
{% load cart_extras %}
{% block content %}
<div class="container mt-5">
    <h2>Your Cart</h2>
    {% if cart_items %}
        <table class="table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th>Actions</th> <!-- Dodano kolumnę akcji -->
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                    <tr>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.product.price }}</td>
                        <td>{{ item.quantity|multiply:item.product.price }}</td>
                        <td>
                            <form method="post" action="{% url 'cart:remove_from_cart' item.id %}" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-right">
            <strong>Total: {{ cart|cart_total }}</strong>
             <a href="{% url 'orders:order_create' %}" class="btn btn-success">Checkout</a>
        </div>
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}
</div>
{% endblock %}
