{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}
<h1>Products</h1>

<!-- Button to toggle the sidebar -->
<button id="toggle-sidebar" class="btn btn-primary">Filters</button>

<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        {% include 'includes/filter_sidebar.html' %}

        <!-- Main Content -->
        <div class="col-md-9 main-content">
            <div class="product-list">
                <div class="row">
                    {% for product in products %}
                        <div class="col-md-4 mb-4">
                            <div class="card shadow-sm">
                                {% if product.image %}
                                    <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}">
                                {% else %}
                                    <img class="card-img-top" src="https://via.placeholder.com/150" alt="{{ product.name }}">
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title"><a href="{% url 'shop:product_detail' product.id product.slug %}">{{ product.name }}</a></h5>
                                    <p class="card-text">{{ product.price }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="mt-4">
                    {% if is_paginated %}
                        {% bootstrap_pagination page_obj %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
